mixin card(logoUrl, title, descr, link, linkText, backgroundColor, textColor)
    .card(style=`background: ${backgroundColor}`)
        .card-logo
            img(src=`${logoUrl}`, alt="icon")
        .card-title
            span(style=`color: ${textColor}`) #{title}
        .card-description
            span(style=`color: ${textColor}`) 
                | #{descr}
        .card-all
            a.card-link(href=`${link}`, style=`color: ${textColor}`) #{linkText}
            .link-arrow
                img(src="images/link-arrow.svg", alt="arrow")